

nav{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    button{
        background-color:#333;
        color: white;
        padding: 14px 14px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
    }
    li button {
        
        display: block;
        color: white;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
        float: right;
    }
    
    /* Change the link color to #111 (black) on hover */
    li button:hover {
        background-color: gray;
    }

   .site-brand{
        float: left;
    }
}
